<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        bootstrap="tests/bootstrap.php"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnError="false"
        stopOnFailure="false">
    <testsuites>
        <testsuite name="Utilities">
            <directory>tests/util</directory>
        </testsuite>
        <testsuite name="SVG">
            <directory>tests/svg</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>src/svg</directory>
        </whitelist>
    </filter>
</phpunit>